.header{
    border-bottom: 1px solid black;
    padding: 0;
}

.card{
    border: 1px solid black;

}

.card-header{
    padding: 8px;
    border-bottom: 1px solid black;
}

.first-row{
    display: flex;
    margin: 4px 8px;
}

.left-container{
    padding: 8px;
    margin: 5px 10px;
}

.right-container{
    padding: 8px;
    margin: 5px 10px;
}

.custom-group{
    margin-top: 8px;
}

.detail-item{
    font-size: 28px;
}