{% extends 'main/base.html' %}
{% block content %}
<main>
    <header class="pb-2 pt-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Buat Arsip Titipan - {{ user.username }}/{{ user.role }} </span>
      </a>
    </header>


    <div class="col-6">
        <form class="row g-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="col-md-6">
            <label for="inputNamaPembeli" class="form-label">Nama Pembeli</label>
            <input type="text" class="form-control" id="inputNamaPembeli" name="nota_customer_name">
          </div>
          <div class="col-md-6">
                <label for="inputReceiptId" class="form-label">Nomor Struk/Faktur</label>
                <input type="text" class="form-control" id="inputReceiptId" name="nota_receipt_id">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Tanggal Nota</label>
                <input type="date" class="form-control" id="inputAddress" name="nota_date">
              </div>
              <div class="col-12 input-group">
                <input type="file" class="form-control" id="inputGroupFile02" name="nota_image">
                  <label for="inputGroupFile02" class="input-group-text">Upload Scan Nota</label>
              </div>
                <div class="input-group">
                    <span class="input-group-text">Catatan</span>
                    <textarea class="form-control" aria-label="With textarea" name="nota_notes"></textarea>
                </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
        </form>
    </div>
    <div class="col-6">
    </div>
    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2025
    </footer>
</main>
{% endblock %}